body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

input, button {
  font-size: 14px;
}

button {
  cursor: pointer;
}

.input {
  border: 1px solid #ddd;
  min-height: 19px;
  padding: 10px;
  width: calc(100% - 22px);
}
.input:focus {
  background-color: #f5f5f5;
  outline: none;
}

.btn {
  background-color: #019875;
  border-color: transparent;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn:hover, .btn:focus {
  background-color: #005441;
}

.error {
  background-color: rgba(187,29,24,0.7);
  color: #fff;
  margin: 0;
  padding: 10px;
}